<header class="vh-30">
<div class="header h-100 flex-column d-flex justify-content-center align-items-center">
<h1 class="text-capitalize py-4" [@bounce]>maids users</h1>
<mat-form-field class="bg-light w-50">
  <mat-label>search for user</mat-label>
  <input matInput  [(ngModel)]="term" class="w-100">
</mat-form-field>
</div>
</header>
<section id="users" class="py-5">
    <div class="container shadow-lg p-5">
       
          <app-card-user *ngIf="!loading; else noData" [allUsers]="allUsers" [term]="term" ></app-card-user>
      
          <ng-template #noData>
            <div class="row">
                <div  
                class="text-center boxstatus d-flex justify-content-center align-items-center flex-column shadow-sm">
                <app-sub-loader></app-sub-loader>
              </div>
            </div>
          </ng-template>
          
        <div class="d-flex justify-content-center my-5">
          <button class="btn text-secondary" [disabled]="prevDisabled" (click)="onPageChange(pageNumber - 1)">Previous</button>
          <span class="mt-2 text-bg-dark px-2 mx-2 rounded">{{pageNumber}}</span>
          <button class="btn text-secondary" [disabled]="NextDisabled" (click)="onPageChange(pageNumber + 1)">Next</button>
            <!-- <pagination-controls
              (pageChange)="onPageChange($event)"
            ></pagination-controls> -->
          </div>
        
        </div>
</section>



