
<div class="row text-center gy-5">
    <div   class="col-md-4 user-card visible"  [@cardAnimation]  *ngFor="let item of allUsers | search:term "  [routerLink]="['/user-details',item.id]">
        <div  class="user rounded position-relative p-3"  title="show user details">
          <p class="badge bg-primary position-absolute top-0 start-50 translate-middle">{{item.id}}</p>
          <img src="{{item.avatar}}" alt="{{item.first_name}}{{item.last_name}}" class="rounded-circle pt-3 pb-3"/>
          <div class="card-details">
          <p class="mb-0 fw-medium"><span>{{item.first_name}} {{item.last_name}}</span></p>
          <a class="text-decoration-none text-secondary lead fs-6" href="mailto:{{item.email}}">{{item.email}}</a>
          </div>
        </div>
    </div>
</div>


